@import "./colors.scss";
@import "./px2rem.scss";

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
  color: $font-black;
  background-color: $background-gray;
  // overflow: hidden;
  user-select: none;
}

.page {
  // position: relative;
  // width: 100%;
  // height: 100%;
  // overflow-x: hidden;
  // overflow-y: auto;
  // -webkit-overflow-scrolling: touch;
  // background-color: $background-gray;
  // box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  box-sizing: border-box;

  &--toolbar {
    padding-bottom: px2rem(98);
  }

  &--navbar {
    padding-top: 44px;
  }
}

input {
  border: 1px solid #000;
  outline: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

textarea {
  resize: none;
}

.vl-icon {
  vertical-align: middle;
}


.vl-pulldown {
  margin-top: px2rem(-88);
  line-height: px2rem(88);
  transition: all linear 200ms;

  &__display {
    text-align: center;
    line-height: px2rem(88);
  }

  &--loading {
    margin-top: px2rem(0);
    transition: none;
  }

  &--cancel {
    transition: none;
  }
}

.vl-nodata {
  text-align: center;
}

.slide-enter {
  transform: translateX(100%);
}

.slide-enter-active {
  transition: transform .3s ease;
}

.slide-leave {
}

.slide-leave-active {
  transform: translateX(-100%);
  transition: transform .3s ease;
}

.slide-back-enter {
  transform: translateX(-100%);
}

.slide-back-enter-active {
  transition: transform .3s ease;
}

.slide-back-leave {
}

.slide-back-leave-active {
  transform: translateX(100%);
  transition: transform .3s ease;
}


.scroll-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: px2rem(30);

  &__spinner {
    margin-right: px2rem(10);
  }
}
