@import "./colors.scss";
@import "./px2rem.scss";

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Microsoft YaHei",微软雅黑,"Microsoft JhengHei",华文细黑,STHeiti,MingLiu;
  color: $font-black;
  background-color: $background-gray;
  // overflow: hidden;
  user-select: none;
}

.page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: $background-gray;
  box-sizing: border-box;
  // position: absolute;
  // top: 0;
  // left: 0;
  // right: 0;
  // bottom: 0;
  // overflow-y: auto;
  // -webkit-overflow-scrolling: touch;
  // z-index: 1;

  &--toolbar {
    padding-bottom: px2rem(98);
  }
}

input {
  border: 1px solid #000;
  outline: 0;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.vl-icon {
  vertical-align: middle;
}


.vl-pulldown {
  margin-top: px2rem(-88);
  line-height: px2rem(88);
  transition: all linear 200ms;

  &__display {
    text-align: center;
    line-height: px2rem(88);
  }

  &--loading {
    margin-top: px2rem(0);
    transition: none;
  }

  &--cancel {
    transition: none;
  }
}
