$bodyFontSize: 16px;

html {
  font-size: 20px;
}
body {
  font-size: $bodyFontSize;
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 21.33333333px !important;
  }
  body {
    font-size: 400*$bodyFontSize/375;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 22.08px !important;
  }
  body {
    font-size: 414*$bodyFontSize/375;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 25.6px !important;
  }
  body {
    font-size: 480*$bodyFontSize/375;
  }
}
