.mint-navbar {
  height: 44px;
  border-bottom: 1px solid #eeeeee;
}
.mint-navbar .mint-tab-item.is-selected {
  border-bottom: 3px solid #26a2ff;
  color: #26a2ff;
  margin-bottom: -2px;
}

.mint-tab-item-label {
  font-size: 16px;
}
.mint-cell-allow-right::after{
  border:1px solid #26a2ff;
  border-bottom-width: 0;
  border-left-width: 0;
  width: 10px;
  height: 10px;
}
.mint-cell {
  min-height: 60px;
}
.mint-navbar.is-fixed{
  position: absolute;
  z-index: 2;
}
.mint-navbar.pdright{
  padding-right: 40px;
}
.mint-radio-core::after{
  top:6px;
  left: 6px;
}
